.FOOTER_ {
    background-color: rgba(252, 252, 252, 0.493);
    section p {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        font-size: 26px;
        margin-top: 10%;
        padding-top: 1%;
        font-weight: bold;
    }
    .footer_sec {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1%;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: black;
            background-color: white;
            font-size: 2rem;
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            text-decoration: none;
            #insta, #face {
                color: rgb(15, 15, 15);
            }
        }
       
    }
    .copyright h6 {
        display: flex;
        justify-content: center;
        margin: 0.5%;
        font-size: 1.5vw;
        color: black;
        font-weight: bold;
        
    }
}

@media screen and (max-width:480px) {

    .FOOTER_ {
        .footer_sec a {
            font-size: 1.5rem;
            width: 2rem;
            height: 2rem;
        }
        .FOOTER_ section p {
            font-size: 1.5rem;
        }
    }

}